@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

$darkBlue: rgb(25, 25, 52);
$dark: rgb(1, 1, 17);
$red: rgb(243, 50, 82);
$light: rgb(217, 206, 249);
$lightBlue: rgb(42, 42, 84);
$mediumBlue: rgb(29, 29, 58);

* {
  color: $light;
  text-decoration: none;
}

body {
  background-color: $darkBlue;
  display: flex;
  justify-content: center;

  #error-message{
    margin: 3rem;
    font-weight: bold;
    padding-right: 4rem;
  }
}

#movie-results {
  background-color: $darkBlue;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 2rem;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  background-color: $darkBlue;
  margin-bottom: 1rem;
}

h1 {
  color: $red;
  font-size: 3rem;
  margin: 1rem 2rem;
}

#results-section {
  display: flex;
  margin-top: 2rem;

  #article-card {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: $dark;
    max-width: 300px;
    width: 100%;
    margin: 0.5rem;
    padding: 1rem;
    border-radius: 12px;
    box-shadow: 0px 0px 10px 0px $dark;

      img {
        width: 100%;
        max-height: 450px;
      }

    button {
      background-color: $mediumBlue;
      outline-color: transparent;
      border: solid 1.5px transparent;
      padding: 0.5rem;
      border-radius: 1rem;
      font-weight: bold;
      font-size: 1rem;
      color: $red;
      width: 140px;

      &:hover {
        cursor: pointer;
        border-color: $red;
      }
    }
   }
}

#search-section {
  display: flex;
  justify-content: center;

  #search-bar {
    height: 50px;
    width: 250px;
    border-radius: 2rem;
    border: none;
    background-color: $dark;
    font-size: 1.5rem;
    padding: 0rem 1rem;
    box-shadow: 0px 4px 10px $dark;

    &::placeholder {
      color: rgb(74, 70, 106);
    }

    &:focus {
      outline-color: $red;
      outline-style: solid;
    }
  } 

    button {
      background-color: $mediumBlue;
      outline-color: transparent;
      border: solid 1.5px transparent;
      padding: 0.7rem;
      border-radius: 50%;
      font-weight: bold;
      box-shadow: 0px 4px 10px $dark;
      margin-left: 1rem;

      &:hover {
        cursor: pointer;
        //border-color: $red;
        background-color: $lightBlue;
      }

      i{
        font-size: 1.3rem;
      }
  }
}

#movie-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;

  #title {
    margin: 0rem 2rem;
    font-size: 2rem;
    width: 100%;
  }
  
  ul {
    list-style: inside;
    display: flex;
    gap: 1rem;
  }
  
  #poster {
    margin: 1rem 2rem;
    border-radius: 1rem;
    max-width: 300px;
    height: fit-content;
    box-shadow: 0px 0px 10px 2px $dark;
  }
  
  #plot {
    max-width: 700px;
    border-bottom: solid 1px $light;
    padding: 1rem 2rem;
  }

  #section2 {
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin: 0;
  }
  
}

#title-section {
  display: flex;
  justify-content: space-between;
}

#rating {
  font-weight: bold;
  margin-left: 3rem;

  p{
    margin: 0.5rem;
  }

  i {
    font-size: 2.5rem;
    color: rgb(226, 181, 0);
  }

  #rating-star{
    display: flex;
    flex-direction: row;
    align-items: center;

    #rating-numbers {
      margin-left: 0.5rem;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
    }
  }
}

#p2 {
  display: flex;
  flex-direction: column;
  padding-right: 1rem;
  
  li{
    list-style: none;
   }
}

@media (max-width: 1300px) {
  section{
    #article-card{
      max-width: 250px;
    }
  }
}

@media (max-width: 850px) {
  #results-section {
    #article-card {
      max-width: 200px;
    }
  }
}

@media (max-width: 650px) {
  #results-section {
    #article-card {
      max-width: 150px;
    }
  }

  #movie-section{
    #section2 {
      flex-direction: column;
      align-items: center;
    }

    #poster {
      max-width: 250px;
      margin: 0.5rem;
    }
  }

  #title-section {
    flex-direction: column;
    align-items: center;

    #rating {
      margin: 0;
    }
  }
}

@media (max-width: 600px) {
  section{
    #article-card{
      max-width: 80%;
    }
  }

  header{
    h1{
      font-size: 2.5rem;
    }
  }

  h1{
    font-size: 2.5rem;
  }

  #search-section {
    #search-bar {
      height: 50px;
      width: 210px;
    }
  }

  #info {
    flex-wrap: wrap;
    padding: 0;
    margin: 0.5rem;
  }

  #movie-section {
    #poster {
      max-width: 200px;
      margin: 0.5rem;
    }

    #title {
      font-size: 1.5rem;
      margin: 0.5rem;
    }
  }
}

@media (max-width: 460px) {
  #results-section {
    #article-card {
      max-width: 300px;
    }
  }
}
