$darkBlue: rgb(2, 2, 22);
$bigFont: rgb(243, 50, 82);
$smallFont: rgb(254, 188, 188);


body {
  background-color: $darkBlue;
}

header {
  display: flex;
  justify-content: center;
  width: 100%;

  h1 {
    color: $bigFont;
  }
}