$darkBlue: rgb(12, 12, 33);
$dark: rgb(1, 1, 12);
$red: rgb(243, 50, 82);
$lightPink: rgb(249, 206, 206);
$lightBlue: rgb(67, 67, 124);
$mediumBlue: rgb(29, 29, 58);

* {
  color: $lightPink;
}

body {
  background-color: $darkBlue;
}

header {
  display: flex;
  justify-content: center;
  width: 100%;

  h1 {
    color: $red;
    font-size: 3rem;
  }
}

section {
  display: flex;
  flex-wrap: wrap;

  #article-card {
    background-color: $dark;
    max-width: 300px;
    width: 100%;
    margin: 1rem;
    padding: 1rem;
    border-radius: 12px;

    button{
      background-color: $mediumBlue;
      outline-color: transparent;
      border: none;
      padding: 0.5rem;
      border-radius: 1rem;
      font-weight: bold;
      font-size: 1rem;

      &:hover {
        background-color: $lightBlue;
        cursor: pointer;
      }
    }
   }
}

#search-section {
  display: flex;
  justify-content: center;

  #search-bar {
    height: 50px;
    width: 200px;
    border-radius: 2rem;
    border: none;
    background-color: $dark;
    font-size: 1.5rem;
    padding: 0rem 1rem;

    &::placeholder {
      color: rgb(74, 70, 106);
    }
  } 
}
