@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
* {
  color: rgb(217, 206, 249);
  text-decoration: none;
}

body {
  background-color: rgb(25, 25, 52);
  display: flex;
  justify-content: center;
}
body #error-message {
  margin: 3rem;
  font-weight: bold;
  padding-right: 4rem;
}

#movie-results {
  background-color: rgb(25, 25, 52);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 2rem;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  background-color: rgb(25, 25, 52);
  margin-bottom: 1rem;
}

h1 {
  color: rgb(243, 50, 82);
  font-size: 3rem;
  margin: 1rem 2rem;
}

#results-section {
  display: flex;
  margin-top: 2rem;
}
#results-section #article-card {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: rgb(1, 1, 17);
  max-width: 300px;
  width: 100%;
  margin: 0.5rem;
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0px 0px 10px 0px rgb(1, 1, 17);
}
#results-section #article-card img {
  width: 100%;
  max-height: 450px;
}
#results-section #article-card button {
  background-color: rgb(29, 29, 58);
  outline-color: transparent;
  border: solid 1.5px transparent;
  padding: 0.5rem;
  border-radius: 1rem;
  font-weight: bold;
  font-size: 1rem;
  color: rgb(243, 50, 82);
  width: 140px;
}
#results-section #article-card button:hover {
  cursor: pointer;
  border-color: rgb(243, 50, 82);
}

#search-section {
  display: flex;
  justify-content: center;
}
#search-section #search-bar {
  height: 50px;
  width: 250px;
  border-radius: 2rem;
  border: none;
  background-color: rgb(1, 1, 17);
  font-size: 1.5rem;
  padding: 0rem 1rem;
  box-shadow: 0px 4px 10px rgb(1, 1, 17);
}
#search-section #search-bar::placeholder {
  color: rgb(74, 70, 106);
}
#search-section #search-bar:focus {
  outline-color: rgb(243, 50, 82);
  outline-style: solid;
}
#search-section button {
  background-color: rgb(29, 29, 58);
  outline-color: transparent;
  border: solid 1.5px transparent;
  padding: 0.7rem;
  border-radius: 50%;
  font-weight: bold;
  box-shadow: 0px 4px 10px rgb(1, 1, 17);
  margin-left: 1rem;
}
#search-section button:hover {
  cursor: pointer;
  background-color: rgb(42, 42, 84);
}
#search-section button i {
  font-size: 1.3rem;
}

#movie-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}
#movie-section #title {
  margin: 0rem 2rem;
  font-size: 2rem;
  width: 100%;
}
#movie-section ul {
  list-style: inside;
  display: flex;
  gap: 1rem;
}
#movie-section #poster {
  margin: 1rem 2rem;
  border-radius: 1rem;
  max-width: 300px;
  height: fit-content;
  box-shadow: 0px 0px 10px 2px rgb(1, 1, 17);
}
#movie-section #plot {
  max-width: 700px;
  border-bottom: solid 1px rgb(217, 206, 249);
  padding: 1rem 2rem;
}
#movie-section #section2 {
  display: flex;
  flex-direction: row;
  justify-content: start;
  margin: 0;
}

#title-section {
  display: flex;
  justify-content: space-between;
}

#rating {
  font-weight: bold;
  margin-left: 3rem;
}
#rating p {
  margin: 0.5rem;
}
#rating i {
  font-size: 2.5rem;
  color: rgb(226, 181, 0);
}
#rating #rating-star {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#rating #rating-star #rating-numbers {
  margin-left: 0.5rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#p2 {
  display: flex;
  flex-direction: column;
  padding-right: 1rem;
}
#p2 li {
  list-style: none;
}

@media (max-width: 1300px) {
  section #article-card {
    max-width: 250px;
  }
}
@media (max-width: 850px) {
  #results-section #article-card {
    max-width: 200px;
  }
}
@media (max-width: 650px) {
  #results-section #article-card {
    max-width: 150px;
  }
  #movie-section #section2 {
    flex-direction: column;
    align-items: center;
  }
  #movie-section #poster {
    max-width: 250px;
    margin: 0.5rem;
  }
  #title-section {
    flex-direction: column;
    align-items: center;
  }
  #title-section #rating {
    margin: 0;
  }
}
@media (max-width: 600px) {
  section #article-card {
    max-width: 80%;
  }
  header h1 {
    font-size: 2.5rem;
  }
  h1 {
    font-size: 2.5rem;
  }
  #search-section #search-bar {
    height: 50px;
    width: 210px;
  }
  #info {
    flex-wrap: wrap;
    padding: 0;
    margin: 0.5rem;
  }
  #movie-section #poster {
    max-width: 200px;
    margin: 0.5rem;
  }
  #movie-section #title {
    font-size: 1.5rem;
    margin: 0.5rem;
  }
}
@media (max-width: 460px) {
  #results-section #article-card {
    max-width: 300px;
  }
}

/*# sourceMappingURL=main.css.map */
